button{
    width: 65px;
    height: 30px;
    border-radius: 24px;
    border-color: rgb(165, 91, 101);
    background-color: blue;
    color: white;
}
*{
    margin: 0;





}
body{

width: 100%;
height: 100vh;
background-color: rgb(247, 247, 253);

}
.bg-vidio{
position: fixed;
width: 100%;
height: 100%;
object-fit: cover;
z-index: -1;
}
.div1{
width: 500px;
background-color: rgba(255, 255, 255,0.3);
height: 170px;
border-style: double;
border-radius: 25px;
border-color: aqua;
}
.div2{
width: 500px;
background-color: rgba(255, 255, 255,0.3);
height: 230px;
border-style: double;
border-radius: 25px;
border-color: aqua;
}


